@media (min-width: 576px) {
    
  }
  @media (min-width: 768px) {
    
  }
  @media (min-width: 992px) {
   
  }
  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      /* max-width: 1140px; */
      max-width: 1170px;
    }
  }
